@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, html, [class*="css"] {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #2E3A8C;
}



button[data-baseweb="button"] {
    background-color: #00BFC5;
    color: white;
}
button[data-baseweb="button"]:hover {
    background-color: #2E3A8C;
}
@media screen and (max-width: 768px) {
    h1 { font-size: 1.5rem; }
    h2, h3 { font-size: 1.25rem; }
    .block-container {
        padding: 1rem;
    }
}
